.titulo {
	color: #0066cc;
	font-size: 48px;
	font-family: Arial, Helvetica, sans-serif;

}
.subtitulo {
	color: #0066cc;
	font-size: 32px;
	font-family: Arial, Helvetica, sans-serif;
}

.paragrafo {
	color: yellow;
	font-size: 28px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.link {
	text-decoration: none;
}

.fundo {
	background-color: darkblue;
}

button {
	border: 5px, dashed;
	border-radius: 400px;
	color: yellow;
	background-color: darkblue;
	transition: 10s;
	width: 100%;
	height: 100%;
	min-width: 100px;
	min-height: 100px;
	max-width: 200px;
	max-height: 200px;
	margin: 50px;
}

button:active{
	border: 5px, dashed;
	border-radius: 400px;
	color: yellow;
	background-color: rgb(3, 184, 27);
	transition: 1s;
	transform: rotate(1440deg);
	width: 100%;
	height: 100%;
	min-width: 100px;
	min-height: 100px;
	max-width: 500px;
	max-height: 200px;
	margin: 50px;
}

